.text, p, h1{
    cursor: default;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    height: 100vh;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: firebrick;
    width: 80%;
    height: 100px;
    color: white;
    padding: 10px 10%;
}

.social-links {
    display: flex;
    white-space: nowrap;
    flex:5;
}

.social-links a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
    font-size: 1.5em;
}

.header-buttons{
    display: flex;
    white-space: nowrap;
    flex:1;
}

.header-serchInput{
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex:1;
}

.header-buttons button, .header-serchInput button {
    background-color: white;
    color: firebrick;
    border: none;
    padding: 6px 10px;
    margin: 0 3px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.header-serchInput input {
    margin-left: 0;
    height: 25px;
    border-radius: 5px;
    border: none;
    color: black;
}

.header-buttons button:hover, .header-serchInput button:hover {
    background-color: #fcc6c6;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: left;
    width: 80%;
    height: 20vh;
    color: #ffaa9d;
}

.logo {
    flex: 2;
}

.catlounge {
    flex: 4;
}

.banner .spacing {
    flex: 2;
}

.catlounge h1 {
    font-size: 4rem;
    cursor: pointer;
}

.catlounge a {
    text-decoration: none;
    color: #ffaa9d;
}

.logo{
    display: flex;
    align-items: left;
}

.manus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #ffaa9d;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.manus .spacing {
    flex: 1;
    height: 21px;
}

.manus-catlaunge, .manus-adoption, .manus-foster, .manus-community, .manus-announcements {
    flex: 1.2;
    position: relative;
    cursor: pointer;

}

.manus > div {
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    background-color: #ffffff;
    padding: 10px 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.manus-catlaunge:hover, .manus-adoption:hover, .manus-foster:hover, .manus-community:hover, .manus-announcements:hover {
    background-color: #f8d7da;
    color: #d57b6e;
}

.manus-catlaunge .catlaunge-dropdown,
.manus-adoption .adoption-dropdown,
.manus-foster .foster-dropdown {
    display: none;
    position: absolute;
    top: 41px;
    left: 0;
    background-color: white;
    border: 1px solid #d1d1d1;
    width: 100%;
    z-index: 1000;
}

.manus-catlaunge:hover .catlaunge-dropdown,
.manus-adoption:hover .adoption-dropdown,
.manus-foster:hover .foster-dropdown {
    display: block;
}

.manus-catlaunge .catlaunge-dropdown a,
.manus-adoption .adoption-dropdown a,
.manus-foster .foster-dropdown a {
    display: block;
    padding: 5px 10px;
    color: #ffaa9d;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.manus-catlaunge .catlaunge-dropdown a:hover,
.manus-adoption .adoption-dropdown a:hover,
.manus-foster .foster-dropdown a:hover {
    background-color: #ffaa9d2b;
    color: #d57b6e;
}


.manus-adoption .adoption-dropdown a:hover, .manus-catlaunge .catlounge-dropdown a:hover {
    background-color: #ffaa9d2b;
    color: #d57b6e;
}

.manus-catlaunge:hover, .manus-adoption:hover, .manus-foster:hover, .manus-community:hover, .manus-announcements:hover{
    color: #d57b6e;
}