.text, p, h1{
    cursor: default;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    height: 100vh;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #d1d1d1;
    width: 80%;
    height: auto;
    color: white;
    padding: 10px 10%;
}

.social-links {
    display: flex;
    white-space: nowrap;
    flex:5;
}

.social-links a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
    font-size: 1.5em;
}

.header-buttons{
    display: flex;
    white-space: nowrap;
    flex:1;
}

.header-serchInput{
    display: flex;
    align-items: center;
    white-space: nowrap;
    border: 1px solid #adadad;
    border-radius: 10px;
    flex:1;
}

.header-buttons button {
    background-color: white;
    color: firebrick;
    padding: 6px 10px;
    margin: 0 3px;
    border-radius: 10px;
    border: 1px solid #adadad;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.header-serchInput button {
    background-color: white;
    color: firebrick;
    border: none;
    padding: 6px 10px;
    margin: 0 3px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.header-serchInput input {
    margin-left: 0;
    height: 25px;
    border-radius: 5px;
    border: none;
    color: black;
}

.header-buttons button:hover, .header-serchInput button:hover {
    background-color: #ff8a85;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: left;
    width: 80%;
    height: auto;
    color: #ffaa9d;
}

.logo {
    flex: 2;
    margin-top: 15px;
}

.catlounge {
    flex: 4;
}

.banner .spacing {
    flex: 2;
}

.catlounge h1 {
    font-size: 4rem;
    cursor: pointer;
}

.catlounge a {
    text-decoration: none;
    color: #ffaa9d;
}

.logo{
    display: flex;
    align-items: left;
}

.manus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #ffaa9d;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.manus .spacing {
    flex: 1;
    height: 21px;
}

.manus-catlaunge, .manus-adoption, .manus-foster, .manus-community, .manus-announcements {
    flex: 1.2;
    position: relative;
    cursor: pointer;

}

.manus > div {
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    background-color: #ffffff;
    padding: 10px 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.manus-catlaunge:hover, .manus-adoption:hover, .manus-foster:hover, .manus-community:hover, .manus-announcements:hover {
    background-color: #f8d7da;
    color: #d57b6e;
}

.manus-catlaunge .catlaunge-dropdown,
.manus-adoption .adoption-dropdown,
.manus-foster .foster-dropdown {
    display: none;
    position: absolute;
    top: 41px;
    left: 0;
    background-color: white;
    border: 1px solid #d1d1d1;
    width: 100%;
    z-index: 1000;
}

.manus-catlaunge:hover .catlaunge-dropdown,
.manus-adoption:hover .adoption-dropdown,
.manus-foster:hover .foster-dropdown {
    display: block;
}

.manus-catlaunge .catlaunge-dropdown a,
.manus-adoption .adoption-dropdown a,
.manus-foster .foster-dropdown a {
    display: block;
    padding: 5px 10px;
    color: #ffaa9d;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.manus-catlaunge .catlaunge-dropdown a:hover,
.manus-adoption .adoption-dropdown a:hover,
.manus-foster .foster-dropdown a:hover {
    background-color: #ffaa9d2b;
    color: #d57b6e;
}


.manus-adoption .adoption-dropdown a:hover, .manus-catlaunge .catlounge-dropdown a:hover {
    background-color: #ffaa9d2b;
    color: #d57b6e;
}

.manus-catlaunge:hover, .manus-adoption:hover, .manus-foster:hover, .manus-community:hover, .manus-announcements:hover{
    color: #d57b6e;
}

.image-slider {
    padding-top: 15px;
}

.slider-image {
    width: 100%;
    border-radius: 35px;
}

footer {
    width: 100%;
}

.footer-service { 
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    border-top: solid 1px #d1d1d1;
    border-bottom: solid 1px #d1d1d1;
}

.footer-button {
    padding-right: 550px;
}

.button-gray {
    border: none;
    background-color: white;
    padding: 10px;
    position: relative;
}

.footer-links {
    display: flex;
    white-space: nowrap;
    flex:4;
}

.footer-links a {
    color: #d1d1d1;
    text-decoration: none;
    padding: 10px;
}

.button-gray:hover, .footer-links a:hover {
    color: #9f9f9f;
    cursor: pointer;
}

.button-gray:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -5px;
    top: 50%;
    width: 1px;
    height: 50%;
    background-color: #9f9f9f;
    transform: translateY(-50%);
}

.footer-information {
    display: flex;
    height: auto;
    background-color: #f5f5f5;
    padding-left: 150px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.footer-information .footer-text {
    display: flex;
    color:#999999;
    font-size: 13px;
    text-align: left;
    line-height: 30px;
}